do_token = ""
aws_profile = ""

do_droplan_token = ""
vapid_public_key = ""
vapid_private_key = ""
smtp_login = ""
smtp_password = ""
aws_access_key_id = ""
aws_secret_access_key = ""
backup_aws_access_key_id = ""
backup_aws_secret_access_key = ""
